{
    "__default__" :
        {
            "mem" : "8G",
            "class": "*",
            "name" : "{rule}",
            "ncpus" : 4,
            "out" : "snakemake_tmp/\\$JOB_NAME.\\$JOB_ID.o",
            "mail" : luca_traverso@eva.mpg.de,
            "err" : "snakemake_tmp/\\$JOB_NAME.\\$JOB_ID.e"
        },
    "makepoolsPMD" :
        {
            "mem" : "20G",
            "time" : 1:00:00,
            "ncpus" : 4
        },
    "make_RG_info" :
        {
            "mem" : "20G",
            "time" : 1:00:00,
            "ncpus" : 4
        },
    "splitmerge" :
        {
          "mem" : "30G",
          "time" : 24:00:00,
          "ncpus" : 8
        },
    "PMDestimation" :
        {
          "mem" : "30G",
          "time" : 24:00:00,
          "ncpus" : 8
        },
    "samtools_merge" :
        {
          "mem" : "40G",
          "time" : 48:00:00,
          "ncpus" : 8
        },
    "update_recal" :
        {
          "mem" : "60G",
          "time" : 48:00:00,
          "ncpus" : 16
        },
    "MLE" :
        {
          "mem" : "30G",
          "time" : 48:00:00,
          "ncpus" : 8
        }
}
